.tabs-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  overflow: auto;
  > .menu-item {
    flex: 1;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    border: 2px solid var(--primary-color);
    &.active {
      background-color: var(--primary-color);
    }
  }
}
